<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Grame</display-name>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>grame.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Grame</servlet-name>
  	<servlet-class>grame.servlet.GrameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Grame</servlet-name>
  	<url-pattern>/grame</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Register</servlet-name>
  	<servlet-class>grame.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Register</servlet-name>
  	<url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>PlayerInfo</servlet-name>
  	<servlet-class>grame.servlet.PlayerInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PlayerInfo</servlet-name>
  	<url-pattern>/playerinfo</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<servlet-class>grame.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Rect</servlet-name>
  	<servlet-class>grame.servlet.RectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Rect</servlet-name>
  	<url-pattern>/rect</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GrameBoard</servlet-name>
  	<servlet-class>grame.servlet.GrameBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GrameBoard</servlet-name>
  	<url-pattern>/grameboard</url-pattern>
  </servlet-mapping>
</web-app>